:root {
  --heading-color: #6c7ae0;
  --row-color: #f8f6ff;
  --white-color: #ffffff;
  --table-border: #ddd;
  --font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
